.credit {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 0.95rem;
    line-height: 1.6;
    color: #444;
    background: #f8f8f8;
    border-left: 4px solid #075848;
    border-radius: 6px;
    margin:1rem;
    
    margin:auto;
    margin-top: 2rem;
}

.credit a {
    display: block;
    color: #075848;
    text-decoration: none;
    margin-bottom: 6px;
    transition: 0.2s ease;
}

.credit a:hover {
    text-decoration: underline;
    color: #0a7b63;
}

.credit .icon {
    margin-top: 15px;
    padding-top: 10px;
}

.credit .icon a {
    display: inline-block;
    margin-right: 8px;
}

.intervention {
    max-width: 900px;
    margin: 40px auto;
    padding: 10px 15px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #333;
}

.intervention h1 {
    font-size: 2rem;
    color: #075848;
    margin-bottom: 20px;
    text-align: left;
}

.intervention p {
    margin-bottom: 20px;
    line-height: 1.7;
}

/* Liste des villes */
.intervention .city {
    font-size: 0.95rem;
    color: #333;
    padding: 15px;
    background: #f4fdfb;
    border-left: 4px solid #0a7b63;
    border-radius: 5px;
    line-height: 1.7;
}

/* Responsive */
@media (max-width: 600px) {
    .credit, .intervention {
        padding: 15px;
    }

    .intervention h1 {
        font-size: 1.6rem;
    }

    .intervention .city {
        font-size: 0.9rem;
    }
}